src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="hello-worldFlow" doc:id="b20f3d49-ab73-4a27-84b4-be833edad2b2" >
		<logger level="INFO" doc:name="Logger" doc:id="fcc34878-cf4d-40d5-aae4-9a7f1b0efa92" message="#[p('appliaction.name')]"/>
	<logger message=“hello=${hello}” level=“INFO” doc:name=“logger”/>
	</flow>
</mule>
